:root {
    --gray: rgb(228, 239, 232);
    --blue: rgb(42, 49, 85);
    --blueWithOpacity: rgba(42, 49, 85, 0.4);
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--gray);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--blue);
}
#container {
    padding: 1rem;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
    top: 0;
}
.right-0 {
    right: 0;
}
.flex {
    display: flex;
    align-items: center; /* Center align items vertically */
    align-self: flex-start;
}
.flex-row {
    flex-direction: row;
}
.grow-1 {
    flex-grow: 1;
    overflow: hidden; /* Hide overflowing content */
}
main p {
    max-width: 90%;
}
.align-start {
    align-self: flex-start;
}
.bg-white {
    background-color: white;
    color: black;
    white-space: nowrap; /* Prevent line breaks */
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
}
.padding-2rem-x-1rem-y {
    padding: 1rem 2rem;
}
.padding-1rem {
    padding: 1rem;
}
.margin-1rem {
    margin: 1rem;
}
.margin-05rem-r {
    margin-right: 0.5rem;
}
.margin-1rem-b {
    margin-bottom: 1rem;
}
.margin-3rem-y {
    margin: 3em 0;
}
.text-center{
    text-align: center;
}
.border-small-round {
    border-radius: 7px;
}
.bold {
    font-weight: 700;
}
.icon-small {
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--gray);
    padding: 0 5px;
    margin-right: 1rem;
}
.logo-in-body {
    width: 200px;
}
.socials {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.quote {
    background: var(--blueWithOpacity);
}
blockquote {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 10px;
}
cite {
    font-size: 18px;
    text-align: right;
    width: 100%;
}
.width-40 {
    width: 40%;
}
.update-img {
    width: 87%;
}
.text-gray {
    color: #666;
}
.border {
    border: 1px solid #666;
}
.inline {
    display: inline-block;
}
.font-sm {
    font-size: .8rem !important;
}


@media screen and (max-width:1100px) {
    main p {
        max-width: 65%;
    }
}
@media screen and (max-width:768px) {
    main p {
        max-width: 100%;
    }
    .mobile-d-none {
        display: none;
    }
    #container {
        padding: .4rem;
        font-size: .8rem;
    }
    blockquote {
        font-size: 15px;
    }
    cite {
        font-size: 11px;
    }
    .update-img {
        width: 100%;
    }
}
